<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="profile">
        <a href="{{ AUTHORLINK }}"><img src="{{ SITEURL }}/theme/img/profile.png"/></a>
    </div>
  </div>

  <nav class="sidebar-nav">

  {% for category, articles in categories %}
      <a class="sidebar-nav-item" href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>
  {% endfor %}

  <div class="sidebar-nav-item">&nbsp;</div>

  {% for page in pages %}
      <a class="sidebar-nav-item" href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
  {% endfor %}
      <a class="sidebar-nav-item" href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Archive</a>

      <div class="sidebar-nav-item">&nbsp;</div>

  {% for title, href in LINKS %}
  <a class="sidebar-nav-item" href="{{ href }}">{{ title }}</a>
  {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
	&copy; 2019
    <a href="{{ AUTHORLINK }}">{{ AUTHOR }}</a>
    </p>
    <p class="tiny-note">
      <a class="muted" href="https://github.com/thomaswilley/pelicanyan">pelicanyan v0.1</a>
    </p>
  </div>
</div>
